<div class="content" role="main">
  <form class="form">
    <input
      class="input"
      [formControl]="passwordControl"
      type="password"
      trim
    >
    <div class="sections">
      <div
        class="section"
        [class.gray]="strength === 'empty'"
        [class.red]="strength === 'less' || strength === 'easy'"
        [class.yellow]="strength === 'medium'"
        [class.green]="strength === 'strong'"
      ></div>

      <div
        class="section"
        [class.gray]="strength === 'empty' || strength === 'easy'"
        [class.red]="strength === 'less'"
        [class.yellow]="strength === 'medium'"
        [class.green]="strength === 'strong'"
      ></div>

      <div
        class="section"
        [class.gray]="strength === 'empty' || strength === 'easy' || strength === 'medium'"
        [class.red]="strength === 'less'"
        [class.green]="strength === 'strong'"
      ></div>
    </div>
  </form>
</div>
